watson/apikeys.py
apikeys.py
.DS_Store
*.bin
*.vec
.idea/
__pycache__/
*.txt
metadata.json
*.tar.gz
*.csv
models/
.env
package-lock.json
node_modules/
!dataset.txt
stats*.json
!lexicon_no.txt
justtest.py
!text.ft.txt
!aspell.txt
!afinn_no.txt
!common_words.txt
!cursewords.txt
!ns_dataset.txt
test.js
data/english_tweets/dataset.txt
data/norec/dataset.txt
data/norec/ns_dataset.txt
